<div class="container-fluid">
<%@teams.each do |team|%>
  <h4><a href="/teams/<%=team.id%>"><%="#{team.city} - #{team.name}"%></a></h4>
  <h4><%="Coach: #{team.coach.name} - Field: #{team.field} - Mascot: #{team.mascot}"%></h4>
  <h4>Roster</h4>
  <h5>Starters</h5>
  <%team.starters.each do |player|%>
    <%="#{player.position} - #{player.name}"%><br>
  <%end%>
  <h5>Bench</h5>
  <%team.bench.each do |player|%>
    <%="#{player.position} - #{player.name}"%><br>
  <%end%>
<%end%>
</div>

