<form method="POST" action="/teams/<%="#{@team.id}"%>/build">
<h2>City:<input type="text" name="team[city]" value="<%=@team.city%>">   - Team Name:<input type="text" name="team[name]" value="<%=@team.name%>"></h3></h2>
<h3><%="Coach: #{@team.coach.name}"%> - Field:<input type="text" name="team[field]" value="<%=@team.field%>">   - Mascot:<input type="text" name="team[mascot]" value="<%=@team.mascot%>"></h3>
<h1>Edit Roster</h1>
<h2>Starters</h2>
<table>
  <tr>
    <th>Position</th>
    <th>Name</th>
    <th>Age</th>
  </tr>
  <%@team.starters.each do |player|%>
  <tr>
    <td><%=player.position%></td>
    <td><input type="text" name="player[][name]" value="<%=player.name%>"></td>
    <td><input type="text" name="player[][age]" size="3"></td>
    <td><input type="hidden" name="player[][depth]" value="1"></td>
    <td><input type="hidden" name="player[][position]" value="<%=player.position%>"></td>
  </tr>
  <%end%>
<h2>Bench</h2>
<table>
  <tr>
    <th>Position</th>
    <th>Name</th>
    <th>Age</th>
  </tr>
    <%@team.bench.each do |player|%>
  <tr>
    <td><%=player.position%></td>
    <td><input type="text" name="player[][name]" value="<%=player.name%>"></td>
    <td><input type="text" name="player[][age]" size="3"></td>
    <td><input type="hidden" name="player[][depth]" value="1"></td>
    <td><input type="hidden" name="player[][position]" value="<%=player.position%>"></td>
  </tr>
<%end%>
  <!-- <tr>
    <td>C</td>
    <td><input type="text" name="player[][name]"></td>
    <td><input type="text" name="player[][age]" size="3"></td>
    <td><input type="hidden" name="player[][position]" value="C"></td>
    <td><input type="hidden" name="player[][depth]" value="2"></td>
  </tr>
  <tr>
    <td>1B</td>
    <td><input type="text" name="player[][name]"></td>
    <td><input type="text" name="player[][age]" size="3"></td>
    <td><input type="hidden" name="player[][position]" value="1B"></td>
    <td><input type="hidden" name="player[][depth]" value="2"></td>
  </tr>
  <tr>
    <td>2B</td>
    <td><input type="text" name="player[][name]"></td>
    <td><input type="text" name="player[][age]" size="3"></td>
    <td><input type="hidden" name="player[][position]" value="2B"></td>
    <td><input type="hidden" name="player[][depth]" value="2"></td>
  </tr>
  <tr>
    <td>3B</td>
    <td><input type="text" name="player[][name]"></td>
    <td><input type="text" name="player[][age]" size="3"></td>
    <td><input type="hidden" name="player[][position]" value="3B"></td>
    <td><input type="hidden" name="player[][depth]" value="2"></td>
  </tr>
  <tr>
    <td>SS</td>
    <td><input type="text" name="player[][name]"></td>
    <td><input type="text" name="player[][age]" size="3"></td>
    <td><input type="hidden" name="player[][position]" value="SS"></td>
    <td><input type="hidden" name="player[][depth]" value="2"></td>
  </tr>
  <tr>
    <td>CF</td>
    <td><input type="text" name="player[][name]"></td>
    <td><input type="text" name="player[][age]" size="3"></td>
    <td><input type="hidden" name="player[][position]" value="CF"></td>
    <td><input type="hidden" name="player[][depth]" value="2"></td>
  </tr>
  <tr>
    <td>LF</td>
    <td><input type="text" name="player[][name]"></td>
    <td><input type="text" name="player[][age]" size="3"></td>
    <td><input type="hidden" name="player[][position]" value="LF"></td>
    <td><input type="hidden" name="player[][depth]" value="2"></td>
  </tr>
  <tr>
    <td>RF</td>
    <td><input type="text" name="player[][name]"></td>
    <td><input type="text" name="player[][age]" size="3"></td>
    <td><input type="hidden" name="player[][position]" value="RF"></td>
    <td><input type="hidden" name="player[][depth]" value="2"></td>
  </tr>
  <tr>
    <td>P</td>
    <td><input type="text" name="player[][name]"></td>
    <td><input type="text" name="player[][age]" size="3"></td>
    <td><input type="hidden" name="player[][position]" value="P"></td>
    <td><input type="hidden" name="player[][depth]" value="2"></td>
  </tr> -->
  </table><br>
  <input type="submit" name="Submit">
</form>