<form method="POST" action="/teams/<%="#{@team.id}"%>">
<input type="hidden" name="_method" value="patch">
<h2>City:<input type="text" name="team[city]" value="<%=@team.city%>">   - Team Name:<input type="text" name="team[name]" value="<%=@team.name%>"></h3></h2>
<h3><%="Coach: #{@team.coach.name}"%> - Field:<input type="text" name="team[field]" value="<%=@team.field%>">   - Mascot:<input type="text" name="team[mascot]" value="<%=@team.mascot%>"></h3>
<h1>Edit Roster</h1>
<h2>Starters</h2>
<table>
  <tr>
    <th>Position</th>
    <th>Name</th>
    <th>Age</th>
  </tr>
  <%@team.starters.each do |player|%>
  <tr>
    <td><%=player.position%></td>
    <td><input type="text" name="player[][name]" value="<%=player.name%>"></td>
    <td><input type="text" name="player[][age]" size="3" value="<%=player.age%>"></td>
    <td><input type="hidden" name="player[][depth]" value="1"></td>
    <td><input type="hidden" name="player[][position]" value="<%=player.position%>"></td>
    <td><input type="hidden" name="player[][id]" value="<%=player.id%>"></td>
  </tr>
  <%end%>
  </table>
<h2>Bench</h2>
<table>
  <tr>
    <th>Position</th>
    <th>Name</th>
    <th>Age</th>
  </tr>
    <%@team.bench.each do |player|%>
  <tr>
    <td><%=player.position%></td>
    <td><input type="text" name="player[][name]" value="<%=player.name%>"></td>
    <td><input type="text" name="player[][age]" size="3" value="<%=player.age%>"></td>
    <td><input type="hidden" name="player[][depth]" value="2"></td>
    <td><input type="hidden" name="player[][position]" value="<%=player.position%>"></td>
    <td><input type="hidden" name="player[][id]" value="<%=player.id%>"></td>
  </tr>
<%end%>
  </table><br>
  <input type="submit" value="Submit">
</form>